<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<style>
		body,
		html {
			margin: 0;
			padding: 0;
			overflow: hidden;
			height: 100%;
		}

		body {
			background: red;
		}

		img {
			border: none;
		}

		h1 {
			text-align: center;
			margin-top: 100px;
		}
	</style>
</head>

<body>
	<h1 id="version"></h1>

	<script>
		function myBrowser() {
			var userAgent = navigator.userAgent; //取得浏览器的userAgent字符串
			var isOpera = userAgent.indexOf("Opera") > -1; //判断是否Opera浏览器
			var isIE = userAgent.indexOf("compatible") > -1 && userAgent.indexOf("MSIE") > -1 && !isOpera; //判断是否IE浏览器
			var isFF = userAgent.indexOf("Firefox") > -1; //判断是否Firefox浏览器
			var isSafari = userAgent.indexOf("Safari") > -1; //判断是否Safari浏览器
			if (isIE) {
				var IE5 = IE55 = IE6 = IE7 = IE8 = false;
				var reIE = new RegExp("MSIE (\\d+\\.\\d+);");
				reIE.test(userAgent);
				var fIEVersion = parseFloat(RegExp["$1"]);
				IE55 = fIEVersion == 5.5;
				IE6 = fIEVersion == 6.0;
				IE7 = fIEVersion == 7.0;
				IE8 = fIEVersion == 8.0;
				if (IE55) {
					return "IE55";
				}
				if (IE6) {
					return "IE6";
				}
				if (IE7) {
					return "IE7";
				}
				if (IE8) {
					return "IE8";
				}
			}//isIE end
			if (isFF) {
				return "FF";
			}
			if (isOpera) {
				return "Opera";
			}
		}

		document.getElementById("version").innerHTML = myBrowser();
	</script>
</body>

</html>